.house-card {
	padding: 25px 0;
	display: flex;
}

.house-right {
	padding-left: 60px;
}

.house-title {
	color: black;
	font-size: 40px;
	font-weight: 600;
	line-height: 50px;
	padding: 5px 0 20px 0;
}

.house-descr {
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	padding-bottom: 40px;
}

.house-raiting {
	display: flex;
	justify-content: space-between;
	padding-bottom: 50px;
}

.web-user-card {
	text-align: center;
	width: 90px;
	height: 99px;
}

.web-user-title {
	color: #222222;
	font-size: 30px;
	font-weight: 700;
	line-height: 46px;
}

.web-user-descr {
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.house-btn {
	height: 56px;
	width: 167px;
	border-radius: 8px;
	background-color: #3771C8;

	font-family: 'Open Sans';
	color: white;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}