body,
html {
	font-family: 'Open Sans';
}

button {
	border: none;
}

a,
.navbar a {
	text-decoration: none;
	color: black;
}

.navbar-brand {
	color: black;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}

.sign-btn {
	width: 92px;
	height: 40px;
	border-radius: 35px;
	border: 1px black solid;
	background-color: transparent;

	font-size: 14px;
	font-weight: 600;
	line-height: 20px;

}

.navbar {
	justify-content: flex-end;
}

.main-title {
	padding-top: 100px;
}

.main-title h1 {
	font-size: 60px;
	font-weight: 600;
	line-height: 80px;
}

.main-title h2 {
	padding-top: 30px;
	width: 476px;
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	color: #555555;
}


.datesLabel,
.fa-calendar {
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
}

.form-select-sm {
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	width: auto;
	border: none;
}

.pickers {
	padding-top: 100px;
}

.container-submit {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-auto-rows: 1fr;
	gap: 20px 80px;
	grid-auto-flow: column;
	/* justify-content: space-between; */
	/* align-content: stretch; */
	/* justify-items: center; */
	align-items: center;
	grid-template-areas:
		"date guest"
		"location submit";
}

.date {
	grid-area: date;
}

.guest {
	grid-area: guest;
}

.location {
	grid-area: location;
}

.submit {
	grid-area: submit;
	display: flex;
	justify-content: space-around;
}

.submit-btn {
	height: 56px;
	width: 56px;
	border-radius: 8px;
	background-color: #3771C8;
	color: white;
	font-size: 20px;
}

.main-title-block {
	padding: 25px 0;
}

.location-input {
	border: none;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	width: 130px;
}

.form-select-sm {
	border: none;
}

.images-container {
	padding: 25px 0;
}

.thumbs-img {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.thumbs-img img {
	border-radius: 15px;
}

.main-img img {
	border-radius: 15px;
}

.facilities-start {
	width: 605px;
	padding: 25px 0;
}

.facilities-title {
	color: black;
	font-size: 40px;
	font-weight: 600;
	line-height: 50px;
}

.facilities-text {
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	color: #555555;
}

.fac-cards {
	display: flex;
	padding: 25px 0;
}

.fac-card {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	width: 308px;
	height: 320px;
	justify-content: center;
}

.card-fac-img {
	width: 68px;
	height: 68px;
}


.card-fac-title {
	padding-top: 25px;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;

}

.card-fac-text {
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}


.ad-card {
	padding: 25px 0;
	display: flex;
}

.ad-right {
	padding-left: 60px;
}

.ad-title {
	color: black;
	font-size: 40px;
	font-weight: 600;
	line-height: 50px;
	padding: 5px 0 20px 0;
}

.ad-descr {
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	padding-bottom: 40px;
}

.ad-raiting {
	display: flex;
	justify-content: space-between;
	padding-bottom: 50px;
}

.web-user-card {
	text-align: center;
	width: 90px;
	height: 99px;
}

.web-user-title {
	color: #222222;
	font-size: 30px;
	font-weight: 700;
	line-height: 46px;
}

.web-user-descr {
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.ad-btn {
	height: 56px;
	width: 167px;
	border-radius: 8px;
	background-color: #3771C8;

	font-family: 'Open Sans';
	color: white;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}

.companies {
	padding: 25px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.quote-card-1 {
	display: flex;
	padding: 25px 0;
}

.quote-profile {
	width: 640px;
	background-color: #f9d15c;
	text-align: center;
	border-radius: 0px 15px 15px 0px;
}

.quote-profile-photo {
	padding: 42px 0px 8px 0px;
}

.quote-profile-name {
	padding-bottom: 23px;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
}

.quote-profile-text {
	color: #222222;
	font-size: 30px;
	font-style: italic;
	font-weight: 300;
	line-height: 36px;
}

.hotels-stars {
	width: 650px;
	display: flex;
	justify-content: space-between;
}

.stars-btn {
	height: 40px;
	width: 100px;
	border-radius: 8px;
	border: 1px rgb(218, 218, 218) solid;
	color: rgb(218, 218, 218);
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	background-color: transparent;
	transition: all .3s ease;
}

.active {
	color: black;
	border: 1px black solid;
}

.hotel-cards {
	padding: 25px 0;
	display: flex;
	justify-content: space-around;
}

.hotel-card-5-star {
	width: 411px;
	height: 500px;
	border: 1px solid #E8E8E8;
	border-radius: 16px;
}

.hotel-title {
	padding: 20px 0 0 20px;
	color: #222222;
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
}

.hotel-descr {
	padding: 8px 0 0 20px;
	color: #555555;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.hotel-card-footer {
	padding: 27px 20px 0 20px;
	justify-content: space-between;
	display: flex;
}

.hotel-price {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}

.hotel-price span {
	font-size: 24px;
	font-weight: 600;
	line-height: 24px;
	color: #3771C8;
}

.hotel-details-btn {
	height: 30px;
	width: 77px;
	border-radius: 4px;
	background-color: #3771C8;

	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
}

.hotels-start {
	width: 605px;
	padding: 25px 0;
}

.hotels-title {
	color: black;
	font-size: 40px;
	font-weight: 600;
	line-height: 50px;
}

.hotels-text {
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	color: #555555;
}

.subscribe-block {
	width: 1280px;
	height: 450px;
	background-image: url(../img/subscripe-bg.png);
	border-radius: 15px;
}

.subscribe-title {
	padding: 60px 0 0 74px;
	width: 800px;
	font-weight: 600;
	font-size: 40px;
	line-height: 50px;
	color: #222222;
}

.subscribe-text {
	padding: 20px 0 92px 74px;
	width: 800px;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: #555555;
}

.subscribe-email {
	height: 56px;
	width: 486px;
	border-radius: 50px;
	padding-left: 26px;
	margin-left: 74px;
	border: none;
}

.subscribe-btn {
	height: 56px;
	width: 140px;
	border-radius: 50px;
	background: #3771C8;
	margin-left: -140px;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
}